html {
    scroll-behavior: smooth;
  }

body {font-family: "Lato", sans-serif;

    background-image: url('bg2.png');

    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
    }


    div#tabs {
        position: fixed;
        top: 0%; left: 17%;   
    }
    
    a.tab {
        background-color: #fff;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
       
    }
    
    a.tab:hover {
      background-color: #bead8e ;
      color: #fff;
    }

    div#shop{
        position: fixed;
        top: 1%; left: 95%; width: 130px; height: 100px;
       
    }
    img#shopd {
        position: absolute;
        width: 34%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#phone{
        position: fixed;
        top: 1.8%; left: 92.5%; width: 130px; height: 100px;
       
    }
    img#phoned {
        position: absolute;
        width: 19%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#detail{
        position: fixed;
        top: 1.5%; left: 89.5%; width: 130px; height: 100px;
       
    }
    img#detaild {
        position: absolute;
        width: 17%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#form {
        position: fixed;
        top: 30%; left: 78%; 
       width:10%;  
    }
    input {
      width: 150%;
      padding:8px;
      margin:8px;
      border-radius:15px;
      align: right;
      border:#fff;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .button {
      background-color: #5da4e9; 
      border-radius: 20px;
      border:#5da4e9;
      color: black;
      margin-top:10px;
      margin-left:50px;
      width:85%;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    div#aic{
        position: absolute;
        top: 28%; left: 10%; width: 40%; height: 100px;
    }
    img#aicd {
        position: absolute;
        width: 69%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#wr1 {
        position: absolute;
        top: 20%; left: 40%; width: 30%; height: 100px;
       
    }
    div.a {
        word-wrap: break-word;
      }
    hr{
        margin-top:38%;
        margin-left: 5%;
        width: 60%;
        border: 1px solid #bead8e;
    }
    div#reg {
        position: absolute;
        font-size: 25px;
        top: 85%; left: 20%; width: 50%; height: 100px;
       
    }
    div#mca{
        position: absolute;
        top: 95%; left: 40%; width: 40%; height: 100px;
    }
    img#mcad {
        position: absolute;
        width: 49%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#itd{
        position: absolute;
        top: 125%; left: 40%; width: 40%; height: 100px;
    }
    img#itdd {
        position: absolute;
        width: 49%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#gst{
        position: absolute;
        top: 165%; left: 40%; width: 40%; height: 100px;
    }
    img#gstd {
        position: absolute;
        width: 49%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#mii{
        position: absolute;
        top: 215%; left: 10%; width: 50%; height: 100px;
    }
    img#miid {
        position: absolute;
        width: 49%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#di{
        position: absolute;
        top: 265%; left: 10%; width: 50%; height: 100px;
    }
    img#did {
        position: absolute;
        width: 49%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#mcat{
        position: absolute;
        top: 105%; left: 10%; width: 30%; height: 100px;
    }
    div#itdt{
        position: absolute;
        top: 135%; left: 10%; width: 30%; height: 100px;
    }
    div#gstt{
        position: absolute;
        top: 170%; left: 10%; width: 30%; height: 100px;
    }
    div#supt{
        position: absolute;
        top: 200%; left: 40%; width: 30%; height: 100px;
    }