html {
    scroll-behavior: smooth;
  }

body {font-family: "Lato", sans-serif;

    background-image: url('bg5.png');

    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
    }

    div#tabs {
        position: fixed;
        top: 0%; left: 17%;   
    }
    
    a.tab {
        background-color: #fff;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
       
    }
    
    a.tab:hover {
      background-color: #bead8e ;
      color: #fff;
    }
    div#shop{
        position: fixed;
        top: 1%; left: 95%; width: 130px; height: 100px;
       
    }
    img#shopd {
        position: absolute;
        width: 34%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#phone{
        position: fixed;
        top: 1.8%; left: 92.5%; width: 130px; height: 100px;
       
    }
    img#phoned {
        position: absolute;
        width: 19%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }

    div#detail{
        position: fixed;
        top: 1.5%; left: 89.5%; width: 130px; height: 100px;
       
    }
    img#detaild {
        position: absolute;
        width: 17%;
        top: 10px; left: 10px; right: 10px; bottom: 10px;
    }
    div#total{
        position: fixed;
       left: 60%;top:30%;
        width: 25%;
     padding: 50px;
        background-color: white;
        border: 2px solid black;
        border-radius:14px;
      
      }
      .button{
      background-color: #000; 
                  border-radius: 20px;
                  border: #fff;
                  color: white;
                  align-items:center;
                  margin-top:10px;
                  margin-left:50px;
                  width:35%;
                  padding: 8px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  cursor: pointer;
                
      }
      hr{
        
        width: 100%;
        
    }
    div#wr{
       margin-top: 11%;
       margin-left: 61%;
       
    }
    div#total2{
        position: absolute;
       left: 20%;top:30%;
        width: 25%;
     padding: 50px;
        background-color: white;
        border: 2px solid black;
        border-radius:14px;
      
      }
      div#total3{
        position: absolute;
       left: 20%;top:100%;
        width: 25%;
     padding: 50px;
        background-color: white;
        border: 2px solid black;
        border-radius:14px;
      
      }
      div#total4{
        position: absolute;
       left: 20%;top:170%;
        width: 25%;
     padding: 50px;
        background-color: white;
        border: 2px solid black;
        border-radius:14px;
      
      }